*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: #1aa0b8 ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.navbar a:hover{
    color: black;
    text-decoration: underline;
}
.links{
    display: flex;
    gap: 25px;
}
.links a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s ease;
}
.nav-logo{
    background: #2F6F4E;
}
.navmenu{
    display: none;
}
/* navbar end */
.banner{
    width: 100%;
    height: 80vh;
    background-color: aqua;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.041)), url(banner.img.jpeg);
    background-size: cover;
    background-position: center;
}
.tech{
    width: 100%;
    height: max-content;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
}
.tech h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.parent{
    width: 100%;
    height: 70vh;
    display: flex;
    /* justify-content:flex-start;
    align-items:flex-start; */
    /* flex-direction: column; */
    /* padding-right: 20px; */
}
.leftside{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;
}
.leftside img{
    width: 70%;
    height :max-content;
    object-fit: cover;
    border-radius: 10px;
    padding-left: 10px;
}
.leftside h3{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:left;
    padding-right: 3px;
}
.rightside{
    width: 50%;
    height: 50vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    flex-direction: column;
    text-align: justify;
}
.rightside p{
    color: black;
    padding-top:20px;
    margin-top: 2px;
    font-size: 20px;
}
.footer{
    width: 100%;
    height: 45vh;
    background-color: #1aa0b8;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    gap: 10px;
}
.footer div{
    width: 40%;
    height: max-content;
    flex-direction: column;
    color: white;
}
.footer div ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.footer div ul li{
    list-style-type: none;
    font-size: 15px;
    gap: 10px;
}
.footer h2{
    margin-bottom: 25px;
    font-size: 20px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}
.footer a{
    flex-direction: column;
    color: white;
    text-decoration: none;
}
.footer input{
    padding: 6px 12px;
    border: 2px solid black;
    transition: 0.5s ease;
}
.footer button:hover{
    background-color: black;
    color: white;
}
.footer button{
    width: 25%;
    background-color: #F4FBF7;
    color: black;
    font-size: 10px;
    font-family: sans-serif;
    padding: 6px 8px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: normal;
}
.copyright{
    width: 100%;
    height: 30px;
    background-color: deepskyblue;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
} 
.copyright p{
    color: black;
    padding: 0px 6px;
    font-size: small;
}
.gotop{
    width: 50px;
    height: 50px;
    background-color: #2F6F4E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s ease;

}
.gotop a{
    text-decoration: none;
    font-size: large;
    color: white;
}
/* homepage end */

/* about page start */
.about{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}
.about h1{
    font-size: 25px;
    font-family: fantasy;
}
.divr{
    width: 50%;
    height: 50vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divr img{
    width: 40%;
    height: 40vh;
    padding: 10px;
    border-radius: 10px;
    object-fit: cover;
}
.divl{
    width: 50%;
    height: 50vh;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Contact page start */
.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divleft{
    width: 50%;
    height: 100%;
    background-color:whitesmoke;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
.divleft p{
    font-size: 15px;
    color: black;
    padding: 6px 12px;
    text-align: left;
}
.divleft input{
    background-color: transparent;
    padding: 10px 12px;
    width: 50%;
    border: 1px solid black;
    color: black;
}
.divleft textarea{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 10px 12px;
}
.divleft .button{
    width: 20%;
    background-color: black;
    color: white;
    font-size: small;
    padding: 6px 8px;
    border: 1px solid gray;
    cursor: pointer;
    font-weight: normal;
    transition: 0.5s ease;
}
.divleft .button:hover{
    background-color: darkgreen;
    color: white;
}
.divright{
    width: 50%;
    height: 100%;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 10px;
}
.divright p{
    font-size: 20px;
    color: black;
    padding: 6px 12px;
    text-align: right;
}
/* contact page complete */
























