*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color:#4DA6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.navbar a:hover{
    color: #F8F9FA;
    text-decoration: underline;
}
.links{
    display: flex;
    gap: 25px;
}
.links a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: black;
    text-decoration: none;
    transition: 0.5s ease;
}
.banner{
    width: 100%;
    height: 80vh;
    background-color: aqua;
}
.footer{
    width: 100%;
    height: 60vh;
    background-color: green;
}