*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: #0c2e4d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0 6px 40px -8px rgb(76, 214, 214);
}
.nav-logo{
    width: 40px;
    height: 40px;

}
.nav-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}
.nav-logo img:hover{
    transform: scale(1.2);
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.links a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #FFF;
    padding-bottom: 5px;
    text-decoration: none;
    transition: 0.5s ease;
}
.navbar a:hover{
    color:#ffc800;
    transform: translatex(20px);
}
.navmenu{
    display: none;
}
/* navbar end */
.banner{
    width: 100%;
    height: 80vh;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.041)), url(banner.img.jpeg);
    background-size: cover;
    background-position: center;
}
.tech{
    width: 40%;
    height: 20%;
    background-color: #FFF;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
    margin-top: 15px;
    gap: 10px;
}
.tech h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    padding: 10px;
}
.parent{
    width: 100%;
    height: max-content;
    display: flex;
    background-color:aliceblue;
    justify-content:space-around;
    align-items:center;
    gap: 10px;
    padding: 10px;
}
.leftside{
    width: 50%;
    height: max-content;
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;
    gap: 10px;
}
.leftside img{
    width: 70%;
    height:max-content;
    object-fit: cover;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease;
}
.leftside img:hover{
    transform: translatex(20px);
}
.leftside h3{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:left;
    word-spacing: 1px;
    letter-spacing: 1.5px;
    padding-right: 3px;
}
.rightside{
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
}
.rightside p{
    color: black;
    padding-top:10px;
    margin-top: 2px;
    font-size: 20px;
    padding-right: 10px;
}
.rightside button{
    width: 50%;
    background-color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 6px 12px;
    font-size: 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s ease;
}
.rightside button:hover{
    background-color: #2F6F4E;
    color: white;
}
/* teqniques end */
.smallbox{
    width: 40%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}
.smallbox h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: black;
}
.mainbox{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content:center;
    position: relative;
}
.mainbox h4{
    font-family: monospace;
    font-size: 20px;
    color: black;
    padding: 5px;
    display: block;
}
.mainbox button{
    width: 50%;
    padding: 6px 12px;
    background-color: #FFF;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    right: 25%;
    bottom: 10%;
    transition: 0.5s ease;
}
.mainbox button:hover{
    background-color: #2F6F4E;
    color: white;
}
.box1{
    width: 30%;
    height: 60%;
    background-color: green;
    background-image:linear-gradient(rgba(39, 30, 30, 0.041)), url(area1.png);
    background-size: cover;
    background-position: center;
    transition: 0.5s ease;
}
.box1:hover{
    opacity: 0.5;
    transform: translateY(-20px);
}
.box2{
    width: 30%;
    height: 60%;
    background-color: plum;
    background-image:linear-gradient(rgba(39, 30, 30, 0.082)), url(area2.png);
    background-size: cover;
    background-position: center;
    transition: 0.5s ease;
}
.box2:hover{
    opacity: 0.5;
    transform: translateY(-20px);
}
/* categories end */
.development{
    width: 100%;
    height:max-content;
    background-color:aliceblue;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content:center;
    position: relative;
}
.footer{
    width: 100%;
    height: 45vh;
    background-color: #0c2e4d;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    gap: 10px;
    transition: 0.5s ease;
}
.footer div{
    width: 40%;
    height: max-content;
    flex-direction: column;
    color: white;
}
.footer div ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.footer div ul li{
    list-style-type: none;
    font-size: 15px;
    gap: 10px;
}
.footer h2{
    margin-bottom: 25px;
    font-size: 20px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}
.footer a{
    flex-direction: column;
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: #ffc800;
    text-decoration:underline;
}
.footer input{
    padding: 6px 12px;
    border: 2px solid black;
    transition: 0.5s ease;
}
.footer input:focus{
    border: none;
    border-bottom:1px solid black;
    background-color:aliceblue;
    color: black;
}
.footer button:hover{
    background-color: black;
    color: white;
}
.footer button{
    width: 40%;
    background-color: #FFF;
    color: black;
    font-size: 10px;
    font-family: sans-serif;
    padding: 6px 8px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: normal;
}
.footer .child1 i{
    color: #ffc800;
}
.copyright{
    width: 100%;
    height: 30px;
    background-color: deepskyblue;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
} 
.copyright p{
    color: black;
    padding: 0px 6px;
    font-size: small;
}
.gotop{
    width: 50px;
    height: 50px;
    background-color: #2F6F4E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s ease;

}
.gotop a{
    text-decoration: none;
    font-size: large;
    color: white;
}
/* homepage end */

/* about page start */
.about{
    width: 100%;
    height: max-content;
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.432)), url(about.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    gap: 10px;
}
.about h2{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    color:white;
}
.about p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:white;
    padding: 10px;
}
/* about page done */

/* Contact page start */
.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divleft{
    width: 50%;
    height: 100%;
    background-color:aliceblue;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-left: 30px;
    gap: 20px;
}
.divleft p{
    font-size: 15px;
    color: black;
    padding: 6px 12px;
    text-align: left;
}
.divleft input{
    background-color: transparent;
    padding: 10px 12px;
    width: 50%;
    border: 1px solid black;
    color: black;
}
.divleft input:focus{
    border: none;
    border-bottom:2px solid black;
    background-color: whitesmoke;
    color: black;
}
.divleft textarea{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 10px 12px;
}
.divleft textarea:focus{
    border: none;
    border-bottom:2px solid black;
    background-color: whitesmoke;
    color: black;
}
.divleft .button{
    width: 20%;
    background-color: black;
    color: white;
    font-size: small;
    padding: 6px 8px;
    border: 1px solid gray;
    cursor: pointer;
    font-weight: normal;
    transition: 0.5s ease;
}
.divleft .button:hover{
    background-color: #2F6F4E;
    color: white;
}
.divright{
    width: 50%;
    height: 100%;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 10px;
}
.divright h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    padding: 10px;
    margin-bottom:15px;
}
/* contact page complete */

/* categories page start */
.info{
    width: 100%;
    height:max-content;
    background-color:aliceblue;
}
.head{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    text-align: center;
    padding: 10px;
}

#a1{
    margin-right: 30px;
}
#a1 img{
    box-shadow: 8px 7px 10px 8px #0c2e4d;
}


/* facts page start */
.image{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 60%;
    height: max-content;
    object-fit: cover;
    border-radius: 10px;
    margin:20px;
}
.facts{
    width: 100%;
    height:max-content;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    gap: 10px;
}
.facts h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    color:black;
}
.facts span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    padding: 10px;
}
.facts h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    padding: 10px;
}
.facts p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    padding: 10px;
}
.heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    text-align: center;
}
.para{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color: black;
    text-align: justify;
    padding: 10px;
}
.methods{
    width: 100%;
    background-color:whitesmoke;
    height: max-content;
    display: flex;
    align-items: center;
}
.m1{
    width: 40%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m1 img{
    width: 70%;
    height: max-content;
    object-fit: cover;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -8px 7px 10px 8px rgba(128, 128, 128, 0.664);
}
.m2{
    width: 60%;
    height: max-content;
}
.m2 h4{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    text-align: start;
}
.m2 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    padding: 10px;
    text-align: justify;
}

.use{
    width: 100%;
    height:max-content;
    background-image: linear-gradient(to bottom,rgba(44, 41, 41, 0.384)),url(leaf.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px;
    gap: 12px;
    
}
.use h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color: white;
    padding-top: 8px;
}
.use p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color: white;
    text-align: justify;
    padding: 10px;
}
.use h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color: white;
}

/* facts page complete */

/* development page start */
.latest{
    width: 100%;
    height: max-content;
    background-color:#FFF;

}
.text{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    text-align: center;
    padding: 8px;
}
.ltd{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color: black;
    text-align: justify;
    padding: 8px;
}
#ld-1{
    box-shadow: -8px 7px 10px 8px rgba(52, 66, 73, 0.418);
}

/* technique page start */
#t1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}
#para2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    text-align: justify;
    padding: 10px;
}

/* products page start */
#tool{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    padding: 10px;
    text-align: center;
}
.parentofcards {
    padding: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width:400px;
    height: max-content;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s ease;
    position: relative;
}
.card img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}
.card h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color:black;
    text-align: center;
}
.card p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
    font-size: 18px;
    letter-spacing: 1.1px;
    color:black;
    text-align: justify;
}
.card:hover {
    transform: translateY(-20px);
}

.btngroup button {
    width: 100%;
    padding: 8px, 16px;
    background-color: transparent;
    border: 1px solid #0c2e4d;
    border-radius: 10px;
    background-color:#0c2e4d;
    padding: 10px 8px;
    color: white;
    transition: 0.5s ease;
}
.btngroup a{
    width: 100%;
}

.btngroup {
    display: flex;
    justify-content: space-between;
}
.btngroup button:hover{
    background-color: #2F6F4E;
    color:white;
}
/* detail page start */
.detail{
    width: 100%;
    height: 100vh;
    display: flex;
}
.leftside{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightside{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    margin: 10px;
    gap: 40px;
}
.rightside ul{
    list-style-type: none;
}
.leftside .imgbox{
    width: 90%;
    height: 90%;
}
.imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid black;
    transition: 0.5s ease;
}
#dpg .imgbox:hover{
    transform: translatex(-20px);

}






@media screen and (max-width:768px){
    .links{
        display: none;
    }
    .navmenu{
        display: block;
        font-size: xx-large;
        color: white;
        font-weight: 800;
        transform: rotate(90deg);
        
    }
    .banner{
        background-size: contain;
        background-repeat: no-repeat;
    }
    .tech{
        flex-direction:column;
        /* height: max-content; */
    }
    .leftside{
        display: none;
    }
    .parent{
        flex-direction: column;
        height: max-content;
    }
    .smallbox{
        height: max-content;
    }
    .mainbox{
        flex-direction: column;
        height: max-content;
    }
    .footer{
        height: max-content;
        flex-direction: column;
    }
    .footer button{
        width: max-content;
    }
    .copyright{
        height: max-content;
    }
    
}


















